# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# macOS related
.DS_Store

# Windows related
Thumbs.db

# Android related
android/app/debug
android/app/release
*.jks
*.keystore

# iOS related
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/engine/

# Web related
web/.dart_tool/

# Others
*.log
